<h3>Bookers</h3>
<table>
  <tr>
    <th><%= link_to "Home", book_path(book.id) %></th>
    <th><%= link_to "Users", book_path(book.id) %></th>
    <th><%= link_to "Books", book_path(book.id) %></th>
    <th><%= link_to "Log out", book_path(book.id) %></th>
  </tr>
</table>